html, body{
    padding: 0;
    margin: 0;
    font-size: 50px;
}
*{
    box-sizing: border-box;
}
body{
    background-color: var(--body-bg);
    color: var(--body-color);
    font-family: "Arial", sans-serif;
}

:root{
    --body-bg: #1e1e1e;
    --body-color: #e1e1e1;
    --card-bg: #fffdfd;
    --fire: #e4504d;
    --grass: #9dd465;
    --eletric: #f9e45f;
    --water: #6a83d6;
    --ground: #e4c967;
    --rock: #cabb7b;
    --fairy: #eeb2fa;
    --poison: #9f619d;
    --bug: #c5cf4a;
    --dragon: #857af7;
    --flying: #80a4f9;
    --fighting: #9b5a48;
    --normal: #bab8ab;
}

.bg-fire {
    background-color: var(--fire);
}

.bg-grass {
    background-color: var(--grass);
}

.bg-eletric {
    background-color: var(--eletric);
}

.bg-water {
    background-color: var(--water);
}

.bg-ground {
    background-color: var(--ground);
}

.bg-rock {
    background-color: var(--rock);
}

.bg-fairy {
    background-color: var(--fairy);
}

.bg-poison {
    background-color: var(--poison);
}

.bg-bug {
    background-color: var(--bug);
}

.bg-dragon {
    background-color: var(--dragon);
}

.bg-flying {
    background-color: var(--flying);
}

.bg-fighting {
    background-color: var(--fighting);
}

.bg-normal {
    background-color: var(--normal);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 0.25em;
}
.card{
    width: calc(25% - 20px);
    margin: 10px;
    text-align: center;
    padding: 20px;
    background: var(--card-bg);
    color: var(--body-bg);
    border-radius: 20px;
}
.card .title{
    text-transform: capitalize;
}
.card figure img{
    max-width: 130px;
    transition: 1.5s;
    filter: opacity(50%)
}
.card figure img:hover{
    filter: opacity(100%);
    transition: 0.3s;
    cursor: pointer;
}
.card .type{
    color: var(--body-bg);
    border-radius: 10px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 4px;
}
.card .favorite{
    display: none;
}

/* RESPONSIVE */
@media screen and (max-width: 768px){
    .card{
        width: calc(100% - 20px);
    }
}

@media screen and (min-width: 768px) {
    .card{
        width: calc(50% - 20px);
    }
}

@media screen and (min-width: 1244px){
    .card{
        width: calc(25% - 20px);
    }
}